<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Network</title>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/masonry.pkgd.min.js"></script>
    <script src="~/Scripts/util.js"></script>
</head>
<body>
    <header>
        <div id="header-inner">
            <div id="header-left">
                <div class="buttonC categories">
                    <button type="button">
                        <em class="icon-align-justify"></em>
                    </button>
                    <div class="buttonC-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                        <br />
                        <a href="#">About</a>
                        <a href="#">Contact</a>
                    </div>
                </div>
                <div class="searchForm">
                    <input type="text" class="field" placeholder="Search" />
                    @*search*@
                    <div class="typeahead" style="display: none;">
                        <ul>
                            @*@foreach (var item in Model)
                            {
                                <li>
                                    <a href="">
                                        <span class="img">
                                            <img src="@Url.Action("GetUserImage", "Home", new {id = item.IdUser})" />
                                        </span>
                                        <span class="name" style="text-align:center;">@item.LastName @item.FirstName</span>
                                    </a>
                                </li>
                            }*@
                        </ul>
                    </div>
                    @**search**@
                </div>
                
            </div>
            <a href="/" class="logo">Social Network</a>
            <div id="header-right">
                <div class="buttonC addcontent">
                    <button type="button">
                        <em class="icon-plus"></em>
                    </button>
                </div>
                    @*addcontent*@
                    <div class="modal-content dp-none">
                        @*@Html.ValidationSummary()*@
                        <div class="modal">
                            <div class="standard-form custom-form">
                                <h1>
                                    Add new content
                                </h1>
                                <ul>
                                    <li>
                                        <h3>
                                            <label>
                                                Category
                                            </label>
                                        </h3>
                                        <div>
                                            <select id="list-categories-form"></select>
                                        </div>
                                    </li>
                                    <li>
                                        <h3>
                                            <label>
                                                Description
                                            </label>
                                        </h3>
                                        <div>
                                            <input type="text" placeholder="Add a short description to your post..." class="content content-form" />
                                        </div>
                                    </li>
                                    <li>
                                        <h3>
                                            <label>
                                                Image
                                            </label>
                                        </h3>
                                        <div>
                                            <input id="upload-image-form" formenctype="multipart/form-data" type="file"/>
                                        </div>
                                    </li>
                                </ul>
                                <div class="form-footer">
                                    <div class="form-footer-buttons">
                                        <button class="buttonC btn close-modalpopup" type="button">
                                            <span class="button-text">
                                                Cancel
                                            </span>
                                        </button>
                                        <input class="buttonC btn primary submit-content-button" type="button" value="Submit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @**addcontent**@
                
                
                <div class="buttonC notifications" style="float:right">
                    <button type="button">
                        <em class="icon-bell-alt"></em>
                    </button>
                    @*notification*@
                    <div class="notification-wrapper">
                        <a class="notification" href="#">
                            <span class="img">
                                @*<img src="@Url.Action("GetUserImage", "Home", new {id = 1})" />*@
                            </span>
                            <span class="name" style="text-align:center;">Some Text</span>
                        </a>
                    </div>
                    @**notification**@
                </div>

                <div class="profile-wrapper">
                    <div class="profile">
                        <a href="#">
                            <div class="profile-link">
                                <span class="profile-image" style="background:url(/Content/photo/Users/default/default-24.png) no-repeat center;"></span>
                                <span class="profile-name">Your Name</span>
                            </div>
                        </a>
                    </div>
                    <div class="profile-dropdown" style="display: none;">
                        <ul>
                            <li>
                                <a href="#">
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="main">
        @RenderBody()
    </div>
    <footer></footer>
</body>
</html>