<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Network</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    @*<link href="~/Content/custom/bootstrap.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/snutil.js"></script>
    <!--Ссылка на библиотеку SignalR -->
    @*<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>*@
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    @*<script src="~/signalr/hubs"></script>*@
    <!--Ссылка на скрипт Чата -->
    @*<script src="~/Scripts/util.js"></script>*@

</head>
<body>
    <header>
        <div id="header-inner">
            <div id="header-left">
                <div class="buttonC categories">
                    <button type="button">
                        <em class="icon-align-justify"></em>
                    </button>
                    <div class="buttonC-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                        <br />
                        <a href="#">About</a>
                        <a href="#">Contact</a>
                    </div>
                </div>
                <div class="searchForm">
                    <input type="text" class="field" placeholder="Search" />
                    @Html.Action("Search", "Home")
                </div>
            </div>
            <a href="/" class="logo">Social Network</a>
            <div id="header-right">
                <div class="buttonC addcontent">
                    <button type="button">
                        <em class="icon-plus"></em>
                    </button>
                </div>
                @Html.Action("AddContent", "Home")
                <div class="buttonC notifications" style="float:right">
                    <button type="button">
                        <em class="icon-bell-alt"></em>
                    </button>
                </div>
                <div class="profile-wrapper">
                    <div class="profile">
                        <a href="#">
                            <div class="profile-link">
                                <span class="profile-image" style="background-image:url(/Content/photo/Users/default/default.png)"></span>
                                <span class="profile-name">User Name</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

@*@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Social Network", "Index", "UserViewModel", new { area = "" }, new { @class = "navbar-brand" })

    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Logout", "Logout", "Account");
    }
    else
    {
        @Html.ActionLink("Login", "Login", "Account");
    }
    <li>@Html.ActionLink("Register", "Register", "Account");</li>*@
    
<div class="container body-content">
    @RenderBody()
    <footer></footer>
</div>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
</body>
</html>